<!DOCUMENT html>
<html>
<head>
	<h2>TEST 2 HTML</h2>
</head>
<body>

	<br><br>


	<form class="form-horizontal" action="{% url 'test' %}" method="POST"> {% csrf_token %}
		<label for="input" class="col-sm-5 control-label">Datum rezervacije</label><br>
		<input type="date" max="{{ mjesec }}" min="{{ sutra }}" class="form-control" id="input" name="datum_rezervacije" required>
		<button type="submit" class="btn btn-default">Pregledaj dostupnost stolova</button>
	</form>

	{% for ooo in m_i_s %}
	<p>{{ ooo.stol.broj_stola }}</p>
	{% endfor %}

</body>
</html>