{% extends "baza.html" %}
{% load static %}
{% block za_vise_css %}
<style>
#mojInput {
	background-image: url("{% static 'search.png' %}"); /* Add a search icon to input */
	background-position: 10px 10px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 16px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
	/* Remove default list styling */
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#myUL li a {
	border: 1px solid #ddd; /* Add a border to all links */
	margin-top: -1px; /* Prevent double borders */
	background-color: #f6f6f6; /* Grey background color */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove default text underline */
	font-size: 18px; /* Increase the font-size */
	color: black; /* Add a black text color */
	display: block; /* Make it into a block element to fill the whole list */
}
#myUL li a:hover:not(.header) {
	background-color: #eee; /* Add a hover effect to all links, except for headers */
}
#ima {
	border-radius: 50%;
}
</style>
{% endblock %}
{% block selected %}
	<li><a href="{% url 'home' %}">Pocetna</a></li>
	<li><a href="{% url 'o_nama' %}">O nama</a></li>
	<li><a href="{% url 'jelovnik' %}">Jelovnik</a></li>
	<li class="selected"><a href="{% url 'vina' %}">Vina</a></li>
	<li><a href="{% url 'prva' %}">Rezervacija</a></li>
	<li><a href="{% url 'email' %}">Kontakt</a></li>
{% endblock %}
{% block informacije %}
	<p>Za vise informacija kliknite na link ispod.<br/><a href="{% url 'kontakt' %}">Procitaj vise</a></p>
{% endblock %}
{% block sredina %}
<div id="content">
<h1>Vina</h1>
<p>Pogledajte i pretražite veliku ponudu domaćih i stranih VINA.</p> 
<input type="text" id="mojInput" onkeyup="myFunction()" placeholder="Pretrazi...">

<ul id="myUL">
	{% for qs in qs_vina %}
	<li><a href="/detalji/{{ qs.id }}">{{ qs.naziv }}</a></li>
	{% endfor %}
</ul>
<script>
function myFunction() {
	// Declare variables
	var input, filter, ul, li, a, i;
	input = document.getElementById('mojInput');
	filter = input.value.toUpperCase();
	ul = document.getElementById("myUL");
	li = ul.getElementsByTagName('li');
	// Loop through all list items, and hide those who don't match the search query
	for (i = 0; i < li.length; i++) {
		a = li[i].getElementsByTagName("a")[0];
		if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
			li[i].style.display = "";
		} else {
			li[i].style.display = "none";
		}
	}
}
</script>
<img id="ima" src="{% static 'vino1.jpg' %}" alt="Avatar" style="width:200px">
<img id="ima" src="{% static 'vino2.jpg' %}" alt="Avatar" style="width:200px">
<img id="ima" src="{% static 'vino3.jpg' %}" alt="Avatar" style="width:200px">
</div>
{% endblock %}