{% extends "profili/forma.html" %}
{% block stilovi %}
{% load static %}
<style>
	.vertical-center {
		min-height: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		background-image: url("{% static 'rezervacija_restoran.png' %}");
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #cccccc;
	}
	.control-label{
		color: white;
	}	
	.col-md-5{
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 75px;
		width: 50%;
	}	
	.col-md-5:hover{
		background-color: rgba(0, 0, 0, 0.9);
	}	
	.container{
		margin-left: 33%;
	}
	.btn{
		margin-bottom: 15px;
	}
	#vise_od_3{
		color: red;
		font-weight: bold;
		font-size: 200%;
	}
</style>
{% endblock %}
{% block rez_forma %}
<div class="container">
<div class="row">
<div class="col-md-5">
{% if br_rez > 2 %}
<br>
<p id="vise_od_3" role="alert">Možete imati samo tri rezervacije odjednom!</p><br>
<a class="btn btn-primary" href="{% url 'home' %}">Glavna stranica</a>
{% else %}
<h1 style="color: white;">{{ tittle }}</h1>
<form class="form-horizontal" action="{% url 'druga' %}" method="POST">
	{% csrf_token %}
	<div class="form-group">
		<label for="input" class="col-sm-5 control-label">Datum rezervacije</label>
		<div class="col-sm-5">
			<input type="date" id="input" max="{{ dvamjeseca }}" min="{{ sutra }}" class="form-control" name="post_datum" required>
		</div>
	</div>

	<div class="form-group">
		<label for="input" class="col-sm-5 control-label">Broj stolica</label>
		<div class="col-sm-5">
			<select class="form-control" name="post_stolice">
			<option value="2">2 stolice</option>
			<option value="4">4 stolice</option>
			<option value="6">6 stolica</option>
			<option value="8">8 stolica</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="input" class="col-sm-5 control-label">Vrijeme početka rezervacije</label>
		<div class="col-sm-5">
			<select class="form-control" name="post_pocetak">
			<option value="8">08 : 00</option>
			<option value="9">09 : 00</option>
			<option value="10">10 : 00</option>
			<option value="11">11 : 00</option>
			<option value="12">12 : 00</option>
			<option value="13">13 : 00</option>
			<option value="14">14 : 00</option>
			<option value="15">15 : 00</option>
			<option value="16">16 : 00</option>
			<option value="17">17 : 00</option>
			<option value="18">18 : 00</option>
			<option value="19">19 : 00</option>
			<option value="20">20 : 00</option>
			<option value="21">21 : 00</option>
			<option value="22">22 : 00</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="input" class="col-sm-5 control-label">Vrijeme kraja rezervacije</label>
		<div class="col-sm-5">
			<select class="form-control" name="post_kraj">
			<option value="9">09 : 00</option>
			<option value="10">10 : 00</option>
			<option value="11">11 : 00</option>
			<option value="12">12 : 00</option>
			<option value="13">13 : 00</option>
			<option value="14">14 : 00</option>
			<option value="15">15 : 00</option>
			<option value="16">16 : 00</option>
			<option value="17">17 : 00</option>
			<option value="18">18 : 00</option>
			<option value="19">19 : 00</option>
			<option value="20">20 : 00</option>
			<option value="21">21 : 00</option>
			<option value="22">22 : 00</option>
			<option value="23">23 : 00</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="input" class="col-sm-5 control-label">Grad</label>
		<div class="col-sm-5">
			<select class="form-control" name="post_id_grada">
				{% for jedna in sve_lokacije %}
			<option value="{{ jedna.id }}">{{ jedna.ime_grada }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-0 col-sm-12">
			<button type="submit" class="btn btn-default">Pregledaj dostupnost stolova</button>
		</div>
	</div>
</form>
</div>
</div>
</div>
{% endif %}
{% endblock %}